<div class="container mx-auto px-4 py-8 text-gray-100">
    <div class="mb-8">
        <a href="#" class="text-gray-400 hover:text-gray-100 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18">
                </path>
            </svg>
            Volver
        </a>
    </div>

    <h1 class="text-4xl font-bold mb-8">{{ cocktailDetails().strDrink }}</h1>

    <div class="flex flex-col lg:flex-row gap-8">
        <div class="w-full lg:w-1/2 flex justify-center items-center mb-6">
            <img *ngIf="cocktailDetails().strDrinkThumb" [src]="cocktailDetails().strDrinkThumb" alt="{{ cocktailDetails().strDrink }}" class="object-contain max-w-md h-auto max-h-[400px] rounded-lg">
            <svg *ngIf="!cocktailDetails().strDrinkThumb" xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 text-gray-400" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z">
                </path>
            </svg>
            <!-- <p class="text-gray-300 text-sm">Un clásico atemporal con un equilibrio perfecto de sabores</p> -->
        </div>

        <div class="w-full lg:w-1/2">
            <h2 class="text-2xl font-semibold mb-4">Ingredients</h2>
            <ul 
                class="grid grid-cols-2 md:grid-cols-3 gap-4 mb-8"
            >
                <li class="flex flex-col items-center"
                    *ngFor="let ingredient of cocktailDetails().strIngredient; let i = index"
                    
                >
                    <div class="bg-gray-700 rounded-lg w-20 h-20 flex items-center justify-center mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-gray-400" viewBox="0 0 24 24" fill="currentColor">
                            <circle cx="12" cy="12" r="8" />
                        </svg>
                    </div>
                    <p class="text-center text-sm">{{ ingredient }}</p>
                    <p class="text-center text-sm" *ngIf="cocktailDetails().strMeasure[i] != null">{{ cocktailDetails().strMeasure[i] }}</p>
                </li>
            </ul>

            <h2 class="text-2xl font-semibold mb-4">Instruction</h2>
            <p class="text-gray-300">
                {{  cocktailDetails().strInstructions }}
            </p>
        </div>
    </div>
</div>