<main class="flex-1 flex flex-col items-center justify-start pt-16 px-4">
    <div class="text-center mb-12">
      <div class="flex items-center justify-center mb-3">
        <h1 class="text-5xl font-bold">DRINK DISCOVERY</h1>
      </div>
      <p class="text-gray-400 italic text-lg">Unlock your perfect pour — every sip an adventure</p>
    </div>


    <div class="relative w-full max-w-md mb-8">
        <input
          type="text"
          placeholder="Search by drink name or ingredient"
          [formControl]="searchControl"
          (keydown.enter)="drinkHandler()"
          class="w-full bg-transparent border border-gray-700 rounded-full py-3 px-6 pr-12 focus:outline-none focus:border-gray-500"
          aria-label="Search drinks"
        />
      </div>

      <div class="w-full max-w-8xl">
        <h2 class="text-xl mb-4">Search Results</h2>
        <div
          *ngIf="cocktail().length >= 1; else noResults" 
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
        >
          
            <app-cocktail *ngFor="let cocktail of cocktail()"
            [idDrink]="cocktail.idDrink" 
            [name]="cocktail.strDrink" 
            [imgUrl]="cocktail.strDrinkThumb" 
            [alt]="cocktail.strDrink" 
            additionalClass="snap-center snap-always w-xs pt-4"/>

        </div>
        <ng-template #noResults>
          <p class="text-gray-400 italic text-lg">No results found</p>
        </ng-template>
      </div>
